
	<header class="header">
<div class="header__container">
  <div class="header__body">

    <a class="header__logo" routerLink="/home">Activity</a>
    
    <div class="header__burger">
      <span></span>
    </div>

    <ul class="nav">
      <li><a routerLink="/search-activity" class="nav__link">Найти</a></li>
      <li><a routerLink="/offer-activity" class="nav__link">Предложить</a></li>
      <li><a *ngIf="logged" routerLink="/personalInfo" class="nav__link">Личный кабинет</a></li>
      <li><a *ngIf="!logged" routerLink="/registration" class="nav__link">Регистрация</a></li>
      <li><a *ngIf="!logged" routerLink="/login" class="nav__link">Войти</a></li>

    </ul>

  </div>
</div>
</header>