<div class="jumbotron  bg-white">

  <div class="container pt-5">
    <div class="row justify-content-md-center pt-5">
      <div class="col-sm-8 order-sm-1 pt-5">
        <h4 class="mb-3">Регистрация</h4>
        <form [formGroup]="rForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-sm-6 mb-3">
              <label for="firstName">Имя</label>
              <input type="text" formControlName="firstName" class="form-control" id="firstName" placeholder="Иван">
              <div
                *ngIf="rForm.controls['firstName'].invalid && (rForm.controls['firstName'].dirty || rForm.controls['firstName'].touched)"
                class="invalid-feedback d-block">
                <div *ngIf="rForm.controls['firstName'].errors.required">
                  Имя обязательное поле.
                </div>
              </div>
            </div>
            <div class="col-sm-6 mb-3">
              <label for="lastName">Фамилия</label>
              <input type="text" formControlName="lastName" class="form-control" id="lastName" placeholder="Иванов">
              <div
                *ngIf="rForm.controls['lastName'].invalid && (rForm.controls['lastName'].dirty || rForm.controls['lastName'].touched)"
                class="invalid-feedback d-block">
                <div *ngIf="rForm.controls['lastName'].errors.required">
                  Фамилия обязательное поле.
                </div>
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="login">Логин</label>
            <div class="input-group">
              <input type="text" formControlName="login" class="form-control" id="login" placeholder="example">
              <div
                *ngIf="rForm.controls['login'].invalid && (rForm.controls['login'].dirty || rForm.controls['login'].touched)"
                class="invalid-feedback d-block">
                <div *ngIf="rForm.controls['login'].errors.required">
                  Логин обязательное поле.
                </div>
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="password">Пароль</label>
            <div class="input-group">
              <input type="text" formControlName="password" class="form-control" id="password" placeholder="example">
              <div
                *ngIf="rForm.controls['password'].invalid && (rForm.controls['password'].dirty || rForm.controls['password'].touched)"
                class="invalid-feedback d-block">
                <div *ngIf="rForm.controls['password'].errors.required">
                  Пароль обязательное поле.
                </div>
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="email">Email</label>
            <input type="email" formControlName="email" class="form-control" id="email" placeholder="you@example.com">
            <div
              *ngIf="rForm.controls['email'].invalid && (rForm.controls['email'].dirty || rForm.controls['email'].touched)"
              class="invalid-feedback d-block">
              <div *ngIf="rForm.controls['email'].errors.required">Email обязательное поле.</div>
              <div *ngIf="rForm.controls['email'].errors.email">Email не подходит под шаблон.</div>
            </div>
          </div>
          <div *ngIf="errors" class="alert alert-danger" role="alert">
            {{errors}}
          </div>

          <button (click)="onSubmit()" class="btn btn-primary btn-lg btn-block"
            [disabled]="loading">Зарегистрироваться</button>
          <img *ngIf="loading"
            src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />

        </form>
      </div>
    </div>
  </div>
</div>