<header class='header'>
  <div class='person-info'>
    
    
    <div class='person-info-text'>
      
      <div class='person-info-title'>
        <span>{{person?.company}} </span>
        <span>{{person?.name}}</span>
      </div>
      
      <div class='person-info-elem'>
        <span>{{person?.number}}</span>        
        <a href="#">{{person?.site}}</a>
        <a href="#">{{person?.email}}</a>
      </div>
      
      <div class='person-info-elem'>
        <a href="#">Информация о компании</a>
      </div>
      
      <div class='person-info-elem'>
        <a href="#">Показать реквизиты</a>
      </div>
      
    </div>
    
    <div class='person-img'>
      <img src="../../assets/kivi.JPG" alt="kivi">
    </div>

  </div>
  <hr>
</header>