.main-container
{
    width: 100%;
    margin-top: 30px;
    /* box-sizing: border-box; */
}

.form
{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.card
{
    display: inline-block;
    padding: 15px;
    width: 400px;
    height: 200px;
    border-radius: 10px;
    background-color: rgb(241, 241, 241);
    -webkit-box-shadow: 0px 6px 16px 0px rgba(163, 157, 163, 1);
    -moz-box-shadow: 0px 6px 16px 0px rgba(163, 157, 163, 1);
    box-shadow: 0px 6px 16px 0px rgba(163, 157, 163, 1);
}

.logos {
    display: flex;
    justify-content: flex-end;
}

.logos img {
    margin-left: 15px;
}

.form-elem
{
    display: flex;
    flex-flow:row wrap;
    margin-bottom: 35px;
}

.card-number
{
    display: block;
    margin-top: 50px;    
}

#card-number
{
    width: 80%;
}

.form-input
{
    border: 0;
    outline: 0;
    background: 0 0;
    border-bottom: 1.2px solid #000;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 10px;
    line-height: 1.8em;
}


.form-input:focus {
    outline: none;
    border-bottom-color: red;
}

.form-input:valid {
    outline: none;
    border-bottom-color: green;
}

#expiration-date,
#card-code
{
    display: inline;
}

#card-date
{
    width: 100px;
}

#cvc
{
    width: 80px;
    margin-left: 80px;
}

.blank
{
    width: 450px;
    margin-left: 40px;
}

.form-label
{
    width: 120px;
    font-weight: bold;
}
.form-input
{
    border: 0;
    border-bottom: 1px solid #C1C1C1;
    line-height: 1.8em;
    font-weight: bold;
    width: 50%;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-indent: 10px;
    position: relative;
    background: transparent;
    top: -5px;
}


.custom-accept-button
{
    position: relative;
    width: 150px;
    height: 40px;
    border: 1px solid black;
}

.button-img {
    position: relative;
    top: -10px;
    left: -15px;
    opacity: .7;
    z-index: 1;
}

.button
{
    -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: background-color .5s ease-out;
    font-family:  Arial, Helvetica, sans-serif;
    top: 0;
    left: 0;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    background: transparent;
    color: black;
    border: 1px solid black;
    cursor: pointer;
    z-index: 10;
}

.button:focus 
{
    outline: none;
}

.button:not(:disabled):hover {
    background-color: white;
}

.button:disabled
{
    opacity: .5;
    cursor: auto;
}

@media screen and (max-width: 1000px) {
    .card
    {
        margin-bottom: 50px;
    }
}