<div class="main-container">
    <div class="title">
        О компании {{person?.company}} {{person?.name}}
    </div>
    <div class="services">
        <div class="service">
            <div class="photo">
                <img src="../../../assets/service.jpg" width="280"/>
            </div>
            <div class="service-title">
                Клубника на улице Рамбла
            </div>
            <div class="service-money">
                139,99 руб.
            </div>
        </div>
        <div class="service">
            <div class="photo">
                <img src="../../../assets/service2.jpg" width="280"/>
            </div>
            <div class="service-title">
                Золотой пляж
            </div>
            <div class="service-money">
                35,89 руб.
            </div>
        </div>
        <div class="service">
            <div class="photo">
                <img src="../../../assets/service.jpg" width="280"/>
            </div>
            <div class="service-title">
                Экскурсии
            </div>
            <div class="service-money">
                1000р/час.
            </div>
        </div>
    </div>
    <div class="services-info">
        Испа́ния (исп. и галис. España), официально Короле́вство Испа́ния (исп. и галис. Reino de España МФА
        [ˈreino ðe esˈpaɲa]) — суверенное государство на юго-западе Европы и частично в Африке, член Европейского
        союза и НАТО. Испания занимает бо́ль...
    </div>
</div>

