<div class="container pt-5">
  <div class="row pt-5 mb-3">
    <div class="col-md-4 pt-5">
        <img class="img-fluid" src="../../assets/stub-user.png" alt="User image cap">
    </div>

    <div class="col-md-8">
      <div class="pb-3">
        <h4>Персональная информация</h4>
      </div>
      <div class="row themed-grid-row">
        <div class="col-sm-2 themed-grid-col">Имя</div>
        <div class="col-md-10 themed-grid-col">{{personalInfo.firstName}}</div>
      </div>
      <div class="row themed-grid-row">
        <div class="col-sm-2 themed-grid-col">Фамилия</div>
        <div class="col-md-10 themed-grid-col">{{personalInfo.lastName}}</div>
      </div>
      <div class="row themed-grid-row">
        <div class="col-sm-2 themed-grid-col">Логин</div>
        <div class="col-md-10 themed-grid-col">{{personalInfo.login}}</div>
      </div>
    </div>
  </div>