<div class='container mt-5 pt-5'>
  <div class="row pt-5">
    <div class="card-deck">
        <div *ngFor="let product of products" class="card mb-4 shadow-sm" style="min-width: 18rem;">
          <img class="card-img-top" src="../../assets/stub.png" alt="Card image cap" width="100">
          <div class="card-body">
            <h4 class="my-0 font-weight-normal">{{product.name}}</h4>
            <h5 class="card-title pricing-card-title">${{product.cost}}</h5>
            <p class="card-text">
              {{product.description}}
            </p>
          </div>
          <div class="card-footer">
            <button 
            *ngIf="logged" 
            type="button" 
            (click)="addToBasket(product)" 
            class="btn btn-lg btn-block btn-outline-primary">Купить</button>
            <button *ngIf="!logged" type="button" class="btn btn-lg btn-block btn-outline-primary">Войдите чтобы купить</button>
          </div>
        </div>
    </div>
  </div>
</div>