<app-header></app-header>

<div class="card-deck">
  <div *ngFor="let product of products" class="card mb-4 shadow-sm">
    <img class="card-img-top" src="../../assets/stub.png" alt="Card image cap" width="100">
    <div class="card-body">
      <h4 class="my-0 font-weight-normal">{{product.name}}</h4>
      <h5 class="card-title pricing-card-title">${{product.cost}}</h5>
      <p class="card-text">
        {{product.description}}
      </p>
    </div>
    <div class="card-footer">
      <button *ngIf="isAuth()" type="button"  class="btn btn-lg btn-block btn-outline-primary">Buy</button>
      <button *ngIf="!isAuth()" type="button"  class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button>
    </div>
  </div>
</div>

