<script>alert("hello!")</script>
Card payments
<ul>
  <li *ngFor="let el of payments">
    {{el.id}}, {{el.cardNumber}}, {{el.date}}, {{el.cvc}}, {{el.count}} , {{el.comment}}
  </li>
</ul>
<form (ngSubmit)="deletePayment(myForm)" #myForm='ngForm' class="form">
    <div class="form-elem">
        <input class="form-input"
               type="text" id="id" name="id"
               placeholder="id"
               ngModel required>
    </div>
    <div class="custom-accept-button">
        <button class="button" type="submit" [disabled]="!myForm.valid">
            <span class="button-text">Применить</span>
        </button>
    </div>
  </form>

Request payments
<ul>
    <li *ngFor="let el of requests">
      {{el.id}}, {{el.inn}}, {{el.bik}}, {{el.accountNumber}}, {{el.nds}}, {{el.count}}, {{el.telNumber}}, {{el.email}} 
    </li>
</ul>

<form (ngSubmit)="submitRequest(f)" #f='ngForm' class="form">
    <div class="form-elem">
        <input class="form-input"
               type="text" id="filter" name="filter"
               placeholder="filter"
               ngModel required>
    </div>
    <div class="form-elem">
      <input class="form-input"
             type="text" id="field" name="field"
             placeholder="field"
             ngModel required>
    </div>
    <div class="form-elem">
        <input class="form-input"
               type="text" id="sort" name="sort"
               placeholder="sort"
               ngModel required>
      </div>
    <div class="custom-accept-button">
        <button class="button" type="submit" [disabled]="!f.valid">
            <span class="button-text">Применить</span>
        </button>
    </div>
  </form>